*{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    /* background: linear-gradient(to right, #ccccff 0%, #ffffff 100%); */
}



.contenedor
{
    text-align: center;
     margin-top: 40%;
     background:none;
     font-weight: bold;
}


.burbuja{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: bounce 10s ease-in-out forwards;
    background: linear-gradient(to bottom, #ff9966 0%, #ffffff 100%);
}

@keyframes bounce{
    0% {
        top: 0;
      }
      50% {
        top: 30%;
        transform: translateX(-50%) scale(1.2);
       
      }
      100% {
        top: 20%;
        transform: translateX(90%) translateY(-50%) scale(0.5);
      }
}

.botonLink{
  
   margin-top: 10%;
   font-weight: bold;
   
}

.contenedorFormulario{
  display: flex;
  flex-direction: row;
}

.formularioEmpleado {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: 0 left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #ff9966 0%, #ffffff 100%)
}

.formularioEmpleado h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.formularioEmpleado form {
  display: flex;
  flex-direction: column;
  
}

.formularioEmpleado label {
  margin-bottom: 5px;
  color: #666;
}

.formularioEmpleado input,
.formularioEmpleado select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.formularioEmpleado input[type="submit"],
.mensajeError {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.formularioEmpleado input[type="submit"]:hover {
  background-color: #45a049;
}

.listaEmpleado {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 80%;
  margin: 30px right;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #ff9966 0%, #ffffff 100%)
}

.modal{
  background-color: rgba(234, 200, 188, 0.8);
  display: flex;
  justify-content: right;
  align-items: right;
  

}